<html>
 <head>
 	<title>Фоновое изображение с помощью CSS</title>
   <style>
	body {
		background: #000 url(/img/background.png); /* Фоновый цвет и фоновый рисунок*/
		color: #fff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
	}
   </style>
 </head>
 <body>
